$primary: #03eda3;

$secondary: #72ff56;

$darkprimary: #397F2B;

$fontfamily: arial;

$fontcolor: #fff;

$danger: #ff5656;

$black: #001811;

$background: #e5fdf6;

$cardbg: #e5fdf6;

$white: #f1ffee;

$gray: #7b828a;

$dark : #04271c;

$bgblack: #001811;